<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
  	<!-- <li><a href='/teachers'>Teachers</a></li>  -->	
  	<!-- <li><a href='/groups'>Groups</a></li> -->
    <li><a href='/athletes'>Athletes</a></li>
    <li><a href='/heats'>Heats</a></li>
    <li><a href='/events'>Events</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href='/index/heat_sheet_generator'>Heat Sheet Generator</a></li>
  </ul>
</div>